{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body text-center">
                        <p><b>Пользователь с логином {{ email }} не найден!</b></p>
                        <a href="{% url 'users:generate_password' %}" class="btn btn-primary">Назад</a>
                        <a href="{% url 'catalog:index' %}" class="btn btn-secondary">На главную</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}