{% extends 'catalog/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Добавление продукта</h1>
</div>
<form method="post" action="{% url 'catalog:create_product' %}" enctype="multipart/form-data" class="form-floating">
    {% csrf_token %}
    <div class="w-50">
        <div class="mb-3">
            <label for="ControlInputName" class="form-label">Название продукта</label>
            <input type="text" name="name" class="form-control" id="ControlInputName" placeholder="Название">
        </div>
        <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Описание</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="description"></textarea>
        </div>
        <div class="mb-3">
            <label for="ControlInputCategory" class="form-label">Категория</label>
            <select class="form-select" aria-label="Выберите категорию" id="ControlInputCategory" name="category">
                {% for object in object_list %}
                <option value="{{object.id}}">{{object.name}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="ControlInputPrice" class="form-label">Цена</label>
            <input type="text" class="form-control" id="ControlInputPrice" placeholder="цена" name="price">
        </div>
        <div class="mb-3">
            <label for="ControlInputFile" class="form-label">Изображение</label>
            <input class="form-control" type="file" id="ControlInputFile" name="preview">
        </div>
    </div>
    <div class="mb-3">
        <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Отправить</button>
    </div>
</form>
{% endblock %}