{% extends 'catalog/base.html' %}
{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-body text-center">
                    <form method="post">
                        {% csrf_token %}
                        <p><b>Хотите удалить продукт <q>{{object.name}}</q>?</b></p>
                        <button type="submit" class="btn btn-danger">Удалить</button>
                        <a href="{% url 'catalog:index' %}" class="btn btn-warning">Отмена</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}